.nav {
  width: 100%;
  height: 50px;
  background-color: #be83ff;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  z-index: 999;
}

.navLeft,
.navRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #444;
}
.navIcon:hover {
  filter: brightness(5);
  transform: scale(1.15);
}

.navCenter {
  flex: 6;
}
.navList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.navListItem:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.navImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.navSearchIcon {
  font-size: 18px;
  color: #666;
  margin-left: 15px;
  cursor: pointer;
}
